@import '//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css';
/* Global Styles */
h1 {
  color: #186bbe;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  text-align: center;
}

.container {
  text-align: center;
}
/* Navigation link styles */
nav a {
  padding: 10px 15px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: purple;
  color: white;
  border-radius: 4px;
}
nav a:hover {
  color: purple;
  background-color: rgb(238, 190, 238);
}
nav a.active {
  color: #a7e2ff;
}

